**Theoritical Question**

Q1.  What is Python, and why is it popular?
   - Python is general to use and powerful programming language. It is very popular amongs developers beacuse of easy to use quality and excellent liabriries like Numpy, Pandas etc.

Q2. What is an interpreter in Python?
   - Interpreter in python executes code in python.

Q3. What are pre-defined keywords in Python?
   - Pre-defined key words in python is a set of words which are already stored in python and cannot be used as variables.

Q4. Can keywords be used as variable name?
  - No, keywords cannot be used as variable name as keywords are already stored for different use in python.

Q5. What is mutability in Python?
   - Mutability in python is when the value of an object in a container can be changed by user after it is created. E.g - List

Q6.  Why are lists mutable, but tuples are immutable?
  - Lists are mutable and vlaues of object can be changed/updated as it is designed to provide flexibility to user where Tuples are immutable and vlaues of object cannot be changed as it is designed this way to provide fix values to user.

Q7. What is the difference between “==” and “is” operators in Python?
   - The difference between both operators is that comparison operator (==) compares the value of two objects where identity operators (is) compares the location of two objects in memory block.

Q8. What are logical operators in Python?
  - Logical operators (And/or) in python is used to check/compare the value of two objects and gives results in boolean value (True/False).

Q9.  What is type casting in Python?
   - Type casting/Type conversion means to change the data type of an object/variable. e.g Changing data type of a variable from str to int, int to float etc.

Q10. What is the difference between implicit and explicit type casting?
  - The difference between implicit and explicit type casting is that when a user can change data type of an object/variable is called explicit type casting for example changing data type of a variable from str to int , but under implicit type casting the data type of an object/variable get changed implicitly/automatically, for example adding an int and float value will change int to float value automatically.

Q11. What is the purpose of conditional statements in Python?
  - Conditional statements in python is used so that a code can be executed on the basis of evaluation on conditions. There can be one or more conditions applied at the same time.

Q12. How does the elif statement work?
  - elif statemnt is used to add mulitple condition along with if,else statemnt. For example, If tea is available i will drink tea, elif i will drink coffee, else i will drink nothing.

Q13.  What is the difference between for and while loops?
  - "while" loops are used to execute a code until a particular/specified condition become false and "For" loops are used for iterating over a sequence of elements.

Q14. Describe a scenario where a while loop is more suitable than a for loop.
  - It is better to use "while" loop than "For" loop when you do not know the number of iteration or do not have a stop value.

***Practical Questions***

In [2]:
#Q1.  Write a Python program to print "Hello, World!"
print("Hello, World!")

Hello, World!

In [5]:
#Q2.  Write a Python program that displays your name and age.
Name = "Gaurav"
Age = 30
print(f"My name is {Name} and my age is {Age}")

My name is Gaurav and my age is 30

In [6]:
#Q3.  Write code to print all the pre-defined keywords in Python using the keyword library.
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [14]:
#Q4. Write a program that checks if a given word is a Python keyword.
import keyword

x = input("Enter a word: ")
if x in keyword.kwlist:
    print(f"{x} is a keyword")
else:
    print(f"{x} is not a keyword")

Enter a word: else
else is a keyword

In [15]:
#Q5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

list_cont=[1,2,3,4,5,"rahul","soni",8,9]
list_cont[5]

'rahul'

In [16]:
list_cont[5] = "Raaj"
list_cont

[1, 2, 3, 4, 5, 'Raaj', 'soni', 8, 9]

In [17]:
tuple_cont=(1,2,3,4,5,"rahul","soni",8,9)
tuple_cont[5]

'rahul'

In [18]:
tuple_cont[5] = "Raaj"
tuple_cont

TypeError: 'tuple' object does not support item assignment

In [19]:
#Q6. Write a function to demonstrate the behavior of mutable and immutable arguments.
#Mutalibity
list_cont=[1,2,3,4,5,"rahul","soni",8,9]
list_cont[5] = "Raaj"
list_cont

[1, 2, 3, 4, 5, 'Raaj', 'soni', 8, 9]

In [22]:
#Immutability
tuple_cont=(1,2,3,4,5,"rahul","soni",8,9)
tuple_cont[5] = "Raaj"
tuple_cont

TypeError: 'tuple' object does not support item assignment

In [30]:
#Q7. Write a program that performs basic arithmetic operations on two user-input numbers.
x = int(input("Enter a value"))
y = int(input("Enter a value"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)

Enter a value 8
Enter a value 8
16
0
64
1.0

In [32]:
#Q8. Write a program to demonstrate the use of logical operators.
x = True
y = False
print(x and y)
print(x or y)
print(x and x)
print(x or x)
print(y and y)
print(y or y)

False
True
True
True
False
False

In [36]:
#Q9. Write a Python program to convert user input from string to integer, float, and boolean types.
x = input("Enter a value")

Enter a value 8

In [40]:
x = int(input("Enter a value"))
print(type(x))
x = float(input("Enter a value"))
print(type(x))
x = bool(input("Enter a value"))
print(type(x))

Enter a value 8
<class 'int'>
Enter a value 9
<class 'float'>
Enter a value 10
<class 'bool'>

In [41]:
#Q10.Write code to demonstrate type casting with list elements.
list_cont=[1,2,3,4,5,6]
list_cont[3]

4

In [42]:
type(list_cont[3])

int

In [44]:
list_cont[3] = float(list_cont[3])

In [45]:
type(list_cont[3])

float

In [46]:
#Q11.Write a program that checks if a number is positive, negative, or zero.
x = int(input("Enter a value"))
if x>0:
  print("Positive")
elif x<0:
  print("Negative")
else:
  print("Zero")

Enter a value 9
Positive

In [47]:
#Q12. Write a for loop to print numbers from 1 to 10.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [51]:
#Q13. Write a Python program to find the sum of all even numbers between 1 and 50.
list(range(2,51,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [53]:
sum(list(range(2,51,2)))

650

In [59]:
#Q15.Write a Python program to calculate the factorial of a number provided by the user using a while loop.
num = int(input("Enter a value"))
factorial = 1
while num>0:
  factorial = factorial*num
  num = num-1
print(factorial)

Enter a value 8
40320

In [60]:
#Q14. Write a program to reverse a string using a while loop.
x = input("Enter a string")
i = len(x)-1
while i>=0:
  print(x[i])
  i = i-1

Enter a string Gaurav
v
a
r
u
a
G